<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna.xnecvafxv@cbfg.uneineq.rqh</string>
	<key>contactName</key>
	<string>Stefan Karpinski</string>
	<key>description</key>
	<string>Mathematical Computing Language</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E8BC7C6A-067B-4D5C-927A-E4EBF70614F5</string>
			<string>38C8DF23-43F7-4F9C-A183-37EAD5ED3ADA</string>
			<string>------------------------------------</string>
			<string>C659C94E-97B9-4B99-BC17-43D68BB8882A</string>
			<string>50C59D28-F044-4C55-A003-AD01EFAD72E7</string>
			<string>819C8EA0-D401-4155-B3B2-782C38CDE2A0</string>
			<string>------------------------------------</string>
			<string>B3C2D00E-0F81-4B32-A442-558210210719</string>
			<string>E91098F3-2AA0-4D9B-8320-3FF8535EAB18</string>
			<string>------------------------------------</string>
			<string>BC688D7B-95FA-45A6-8B81-CCED206187C3</string>
			<string>8C0D7FEB-095A-4AB5-AFCA-E33B2BDCD288</string>
			<string>FF2D1265-1E06-459B-B58C-51797DB21031</string>
			<string>C3C37DB2-BB1E-46CA-85D5-B764D9902421</string>
			<string>------------------------------------</string>
			<string>347B5F12-C006-4F9B-B92E-E3571099C5EF</string>
			<string>34F12666-C52B-4AA4-B165-17F1FDFA5535</string>
			<string>------------------------------------</string>
			<string>A5CBB1F6-76B6-4761-92CA-81C8E4BFB14E</string>
			<string>005C5BF7-8822-42B1-88CB-2C9F533BB0CD</string>
			<string>B51A4135-8D23-4903-AD5A-A05A9CB05DA9</string>
			<string>31FD0482-F0EF-4446-ADA1-D2784D88B4F4</string>
			<string>------------------------------------</string>
			<string>A7AE6E89-C4F6-4F35-B9E9-1E4310261160</string>
		</array>
	</dict>
	<key>name</key>
	<string>Julia</string>
	<key>uuid</key>
	<string>F123BC73-9B19-4E03-847E-D7E47D1931A3</string>
</dict>
</plist>
