<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna.xnecvafxv@cbfg.uneineq.rqh</string>
	<key>contactName</key>
	<string>Stefan Karpinski</string>
	<key>description</key>
	<string>Mathematical Computing Language</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E8BC7C6A-067B-4D5C-927A-E4EBF70614F5</string>
			<string>38C8DF23-43F7-4F9C-A183-37EAD5ED3ADA</string>
		</array>
	</dict>
	<key>name</key>
	<string>Julia</string>
	<key>uuid</key>
	<string>F123BC73-9B19-4E03-847E-D7E47D1931A3</string>
</dict>
</plist>
